@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Weather App</h1>
    <section class="text-start">
        <h2>Weather Data</h2>
        <input id="inputCityName" type="text" title="City" />
        <button id="btnSubmitCityWeatherQuery" type="button">Fetch Weather Data</button>
    </section>
    <div id="weatherDataContainer">

    </div>
</div>
